body {
    font-family: Arial, sans-serif;
    margin: 10px;
    background-color: #f4f4f4;
    padding: 10px;
   
  }
  
  h1 {
    text-align: center;
    margin-top: 5rem;
   
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
   
    
  }
  .container{
    background-color: #f4f4f4ff;
    border-radius: 9px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  input[type="number"] {
    width: 50px;
    padding: 5px;
  }
  
  #totalPrice {
    font-weight: bold;
    font-size: 18px;
    color: #0066cc;
  }
  